<html>
    
    <head >
    
    </head>
    <body>
            <div style="text-align:center">
                    <h3>Successfully Accessed</h3>
                    </div>
    
        <center>This is the root api for cart management</center>
        <!-- <center>Add the end api's to this root api inorder to access the webpage</center> -->
    </body>
    </html>
    